body {
  margin: 0;
  font-family: Pacifico, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue: #50F3EE;
  --red: #DF3901;
  --white: #FFFFFF;
  --gold: rgba(242, 234, 203, 1);
}

a {
  color: inherit;
  text-decoration: inherit;
}
